@use 'variables' as *;

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $font-main, sans-serif;
}

.wrapper {
  max-width: $content-width;
  margin-inline: auto;
}
